*{
    font-family:'Poppins',sans-serif;
    margin: 0px;
    padding: 0px;
}
.container{
    background: linear-gradient(135deg, #153677,#4e085f);
    width: 100%;
    min-height: 100vh;
    padding: 10px;

}
.box{
    width: 40vw;
    max-height: 100vh;
    background-color: white;
    margin: 20px auto;
    border-radius: 10px;
    padding-bottom: 30px;
}
.box1{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.box h2{
    margin: 10px 0px 0px 10px;
}
.box img{
    width: 42px;
    height: 31px;
    margin-top: 5px;
}
.input{
    display: flex;
    margin: 10px 20px;
    align-items: center;
    justify-content: space-between;
}
.input input{
    width: 28vw;
    height: 40px;
    border-radius: 30px;
    border: 1px solid black;
    padding-left: 10px;
}
.input button{
    font-weight: 200;
    width: 80px;
    height: 42px;
    border-radius: 30px;
    border: none;
    background-color: #ff5945;
    color: white;
}
.input button:hover{
    background-color: #9e1304;
}
#task_container{
    margin: 20px;
}
ul li{
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content:'';
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius:50% ;
    background-image: url(assests/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color:#555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(assests/checked.png);
}
ul li span{
    position:absolute;
    right:0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size:22px ;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color: #edeef0;;
}